@import url("variables.css");

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.woff) format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Bold.woff) format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-SemiBold.woff) format('woff');
    font-weight: 600;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.grid {
    display: grid;
    grid-template-columns: 350px 1fr;
    column-gap: 113px;
}

.account__img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    width: 350px;
    height: auto;
}

.account__name {
    padding: 8px 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 39px;
    color: #FFFFFF;
    background: #3935FE;
    border-radius: 20px;
    margin-top: 53px;
    margin-bottom: 0;
    z-index: 1;
}

.wrapper__inf {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 45px 29px 27px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: -8px;
}

.wrapper__inf .row {
    align-items: center;
}

.account__reader {}

.account__follower {}

.img__svg {
    width: 37.19px;
    height: 37.19px;
}

.reader__img {}

.follower__img {}

.account__sub {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    color: #000000;
    margin: 0;
}

.account__card-img {

    background: #ABFC4F;
    height: auto;
    border-radius: 10px;
    width: 100%;
    max-height: 310px;
}

.account__save {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    width: 277px;
    height: 54px;
    margin-right: 40px;
}

.account__btn {
    margin-bottom: 75px;
}

.account__comment {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.5);
    background: none;
    border: none;
}

.account__uni {
    position: relative;
}

.account__card-hashtag {
    text-transform: uppercase;
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: #3935FE;

}

.account__card-text {
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.015em;
    color: #000000;

}

.account__card-addinfo {
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.015em;
    color: #737C9B;

}

.account__item {
    border-radius: 48px;
    background-color: white;
    padding: 50px 55px;
    box-sizing: border-box;
    display: grid;
    row-gap: 44px;
    padding: 45px 60px;
}

.account__cards {
    max-width: 915px;
    display: flex;
    flex-direction: column;
    row-gap: 57px;
    margin-bottom: 75px;
}

/* .account__title {
    margin: 0;
    font-size: 30px;
}


.account__p {
    margin: 0;
    width: 70%;
    color: #757575;
    font-size: 20px;
    font-weight: 500;
}

.account__img {
    height: 100%;
    border-radius: 10px;
    width: 100%;
} */