body {
    background-color: #F6F6F6;
}

.container {
    max-width: 1415px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bg--green {
    background-color: var(--col-green);
}

.bg--blue {
    background-color: var(--col-bg-light);
    color: var(--col-white);
}

.border--blue {
    border-bottom: 4px solid rgba(57, 53, 254, 0.22);
}

.border--green {
    border-bottom: 4px solid rgba(171, 252, 79, 0.8);
}

.banner__wrapper {
    background: url(../img/banner2.jpg) center center no-repeat;
    background-size: cover;
    height: 490px;
    padding: 30px 45px 57px;
    box-sizing: border-box;
    background-color: black;
    border-radius: 12px;
    position: relative;
}

.banner__wrapper--article {
    background: url(../img/bannermath.jpg) center center no-repeat;
}

.banner__item {
    width: 98px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.5;
    display: inline-block;
}

.breadcrumbs {
    padding: 0 .5rem;
    display: flex;
    flex-direction: row;
}

.breadcrumbs__item {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    opacity: 0.5;
}

.breadcrumbs a:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "→";
    opacity: 0.5;
}

.banner__subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    color: #F8F5F1;
    opacity: 0.6;
    margin-top: 200px;
}

.banner__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #F6F6F6;
    max-width: 582px;
    margin-bottom: 0;
}

.banner__text-wrapper {
    position: absolute;
    left: 44px;
    bottom: 57px;
}

.btn__save {
    border: none;
    background: none;
    top: 38px;
    right: 54px;
    position: absolute;
}

.promotion {
    background-color: var(--col-blue);
    border-radius: 70px 70px 0px 0px;
    padding: 87px 0 265px;
    margin-top: 62px;
}

.promotion__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
}

.promotion__description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
    color: #FFFFFF;
    margin-top: 137px;
}

.information__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 61px;
    color: #000000;
}

.information__card {
    width: calc((100% - 88px)/2);
    padding: 36px 34px 67px;
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    background-color: white;
}

.card__title {
    margin-top: 38px;
    margin-bottom: 20px
}

.card__divider {
    margin-bottom: 56px;
    border-radius: 40px;
    border: 2px solid;
}

.card__divider--blue {
    border-color: rgba(57, 53, 254, 0.22);
}

.card__divider--green {
    border-color: rgba(171, 252, 79, 0.4);
}

.card__list {
    padding: 0;
    margin: 0;
}

.list-item__number {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 8px 18px 10px;
    box-sizing: border-box;
    margin-right: 29px;
}

.list-item+.list-item {
    margin-top: 38px;
}

.card__img {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 52px;
    line-height: 61px;
    border-radius: 50%;
    height: 105px;
    width: 105px;
    padding: 26px 33px 30px;
    box-sizing: border-box;
}

/* прописать карточки  */

.university__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 52.3214px;
    line-height: 61px;
    color: #000000;
}

.university__card {
    width: calc((100% - 80px)/3);
    padding: 24px 34px;
    border-radius: 30px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    box-sizing: border-box;
    width: 416px;
    height: 588px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card--MSU {
    background-image: url("../../enter.github.io/img/articles/msu.jpg");
}

.card--Baumna {
    background-image: url("./enter.github.io/img/articles/baumna.jpg");
}

.card--MIPT {
    background-image: url("../enter.github.io/img/articles/mipt.jpg");
}

.card__chip {
    padding: 7px 17px;
    color: var(--col-white);
    background-color: #3935FE;
    border-radius: 26px;
    max-width: max-content;

}

.card__points {
    color: var(--col-white);
}
.univesity__video {
    width: 100%;
    height: auto;
    background-color: blue;
    background: #3935FE;
    box-shadow: 0px 4.03445px 4.03445px rgba(0, 0, 0, 0.25);
    border-radius: 30.2584px;
    margin-top: 165px;
    margin-bottom: 115px;
}
.video-wrapper {
    width: 100%;
    position: relative;
}
.video-btn {
    position: absolute;
    width: 150px;
    height: 150px;
    background: none;  
    border: none;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    cursor: pointer; 
}
.article__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 61px;
    color: #000000;
}

.divider {
    height: 2px;
    position: relative;
    background-color: rgba(202, 200, 200, 0.9);
    ;
    margin-bottom: 20px;

}

.divider--narrow {
    height: 2px;
    background-color: var(--col-blue);
    width: 40%;
}

.comments__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 43px 0 115px;
}

.comments__card {
    display: grid;
    grid-template-areas:
        'avatar name'
        'avatar comment';
    grid-template-columns: 125px 492px;
    grid-template-rows: max-content max-content;
    gap: 19px 25px;
    width: calc((100% - 39px)/2);
    padding: 40px 28px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.comments__img {
    grid-area: avatar;
    width: 100%;
    border-radius: 50%;
}

.comments__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 52.3214px;
    line-height: 61px;

    color: #000000;
}

.card__name {
    grid-area: name;
    width: 100%;
    margin-block: 0;
}

.card__text {
    grid-area: comment;
    width: 100%;
    margin-block: 0;
}

.commnets__divider {}

.rule__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #000000;
    padding: 106px 100px;
    line-height: 144%;
}

.rule__card {
    width: 1415px;
    height: 927px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 92px auto 179px;
}